  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
            <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Profile resource (Pathology response) information</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    Element
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Value
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Profile
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{bundleProfile}}
                    </td>
                </tr>
            </tbody>
            </table>

        </div>
      </div>

      <P>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
            <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">MessageHeader resource information</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    Element
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Value
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Profile
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{messageHeaderProfile}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Code
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{messageHeaderCode}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Preferred Term
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{messageHeaderDesc}}
                    </td>
                </tr>
            </tbody>
            </table>

        </div>
      </div>

      <P>

     <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
            <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Patient resource information</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    Element
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Value
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Profile
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{patientProfile}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>NHS Number
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{patientNHS}}
                    </td>
                </tr>
            </tbody>
            </table>

        </div>
      </div>

    <P>
     <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
            <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">ServiceRequest resource information</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    Element
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Value
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Profile
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{serviceRequestProfile}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Code
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{serviceRequestCode}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Preferred Term
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{serviceRequestDesc}}
                    </td>
                </tr>
            </tbody>
            </table>

        </div>
      </div>

    <P>
     <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
            <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Practitioner (Requester) resource information</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    Element
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Value
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Profile
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{practitionerProfile}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Name
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{practitionerName}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Address
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{practitionerAddress}}
                    </td>
                </tr>
             </tbody>
            </table>

        </div>
      </div>

      <P>
     <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
            <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Specimen resource information</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    Element
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Value
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Profile
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{specimenProfile}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Code
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{specimenTypeCode}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Preferred Term
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{specimenTypeDesc}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Collection date time
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{specimenCollectedDateTime}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Specimen identifier
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{specimenIdentifier}}
                    </td>
                </tr>
            </tbody>
            </table>

        </div>
      </div>


    <P>
     <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
            <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">DiagnosticReport resource information</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    Element
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Value
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Profile
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{diagnosticReportProfile}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Code
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{diagnosticReportCode}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Preferred Term
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{diagnosticReportDesc}}
                    </td>
                </tr>
            </tbody>
            </table>

        </div>
      </div>


{{#if obsCode}} 
        {{#each obsCode}}

    <P>
     <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
            <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Observation {{@index}} resource information</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    Element
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Value
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>Profile
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{lookup ../obsProfile @index}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Code
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{this}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>SNOMED Preferred Term
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{lookup ../obsDisplay @index}}
                    </td>
                </tr>



                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>BODY Site SNOMED Code
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{lookup ../obsBodySiteCode @index}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>BODY Site SNOMED Preferred Term
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{lookup ../obsBodySiteDisplay @index}}
                    </td>
                </tr>


                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>CSD Result SNOMED Code
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{lookup ../obsValueCode @index}}
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row" >
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Element </span>CSD Result SNOMED Preferred Term
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Value </span>{{lookup ../obsValueDisplay @index}}
                    </td>
                </tr>

            </tbody>
            </table>

        </div>
      </div>

        {{/each}}
{{/if}}

    </main>
  </div>